<!DOCTYPE html>
<html>
    <head>
        <script src='{{ url_for("static", filename="gazerecorder.js")}}' ></script>
    </head>
    <script>
        function trackGaze(GazeData) {
            var x = GazeData.docX;
            var y = GazeData.docY;
            
            var gaze = document.getElementById("gaze");
            x -= gaze.clientWidth/2;
            y -= gaze.clientHeight/2;
            console.log(x);
            console.log(y);

            gaze.style.left = x + "px";
            gaze.style.top = y + "px";

        }
        GazeCloudAPI.StartEyeTracking();
        GazeCloudAPI.UseClickRecalibration = true;
        GazeCloudAPI.OnResult = trackGaze;
    </script>   
    <style>
        #gaze{
            position: absolute;
            background-color: red;
            height: 10px;
            width: 10px;
            z-index: 1000;
        }
    </style>
    <body>
        <div id ="gaze"></div>
    </body>
</html>