<!DOCTYPE html>
<html>
    <head>
        <title>My experiment</title>
        <script src="{{ url_for('static', filename='js/jspsych.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/jspsych-html-keyboard-response.js') }}"></script>
        <link href="{{ url_for('static', filename='js/css/jspsych.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body></body>
    <script>

    var hello_trial = {
        type: 'html-keyboard-response',
        stimulus: 'Hello world!'
    }

    jsPsych.init({
        timeline: [hello_trial]
    })

    </script>
</html>