<!DOCTYPE html>
<html>
    <head>
        <title>My experiment</title>
        <script src="{{ url_for('static', filename='js/jspsych.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/jspsych-preload.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/jspsych-image-keyboard-response.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/jspsych-html-keyboard-response.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/jspsych-html-button-response.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/jspsych-webgazer-init-camera.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/jspsych-webgazer-calibrate.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/jspsych-webgazer-validate.js') }}"></script>
        <script src="{{ url_for('static', filename='webgazer.js') }}"></script>
        <script src="{{ url_for('static', filename='js/extensions/jspsych-ext-webgazer.js') }}"></script>
        <link href="{{ url_for('static', filename='js/css/jspsych.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body></body>
    <script>

    var instruction = {
        type: 'html-keyboard-response',
        stimulus: `
            <p>In this experiment, you will first need calibrate the eyetracking software</p>
            <p>To do this, multiple dots will appear at fixed points on the screen. Follow them with your eyes and once you've
                fixated, click the dot with you mouse</p>
            <p>Two dots may appear at the same place back to back</p>
            <b>Press any key to begin</b>
        `,
    }

    var init_camera_trial = {
        type: 'webgazer-init-camera'
    }

    var calibration_trial = {
        type: 'webgazer-calibrate',
        calibration_points: [[25,50], [50,50], [75,50], [50,25], [50,75]],
        repetitions_per_point: 2,
        randomize_calibration_order: true,
        calibration_mode: 'click'
    }

    var intermission = {
        type: 'html-keyboard-response',
        stimulus: `
            <p>You have finished calibration. A set of 4 points will appear. Follow them with you eyes. There is no need to click</p>
            <b>Press any key to begin</b>
        `,
    }

    var validation_trial = {
        type: 'webgazer-validate',
        validation_points: [[-200,200], [200,200],[-200,-200],[200,-200]],
        validation_point_coordinates: 'center-offset-pixels',
        roi_radius: 100
    }

    var trial = {
        type: 'html-button-response',
        stimulus: '<img src="{{ url_for("static", filename="img/redblue.svg") }}"></img>',
        prompt: "<p>look at one of the colored squares, then indicate which square you were looking at</p>",
        choices: ['red','blue'],
        trial_duration: 3000,
        extensions: [
            {
            type: 'webgazer', 
            params: {targets: ['#jspsych-html-button-response-stimulus']}
            }
        ],
    }

    var test = {
        timeline: [trial],
        repetitions: 5
    }

    jsPsych.init({
        timeline: [instruction, init_camera_trial, calibration_trial, intermission, validation_trial, test],
        extensions: [ {type: 'webgazer'} ]
    })

    </script>
</html>